@model BusinessLayer.Treatment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Treatment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.treatment_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.treatment_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.treatment_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.treatment_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.treatment_med)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.treatment_med)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.treatment_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.treatment_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cost)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
