@model BusinessLayer.Treatment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<p><a href="javascript:window.print()">Print</a></p>
<link href="~/css/sb-admin-rtl.css" rel="stylesheet" />
<link href="~/css/sb-admin.css" rel="stylesheet" />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.treatment_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.treatment_id)
            @Html.ValidationMessageFor(model => model.treatment_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.treatment_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.treatment_name)
            @Html.ValidationMessageFor(model => model.treatment_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.treatment_med)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.treatment_med)
            @Html.ValidationMessageFor(model => model.treatment_med)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.treatment_type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.treatment_type)
            @Html.ValidationMessageFor(model => model.treatment_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cost)
            @Html.ValidationMessageFor(model => model.cost)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Previous", "Index")
</div>

